#page-container {
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: #fffcf2;
}


#calculator-container {
    display: flex;
    width: 500px;
    height: 600px;
    outline: solid 2px #ccc5b9;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #252422;
}

#display {
    border: solid 2px grey;
    text-align: right;
    padding: 0 10px;
    width: 90%;
    height: 15%;
    margin-top: 2%;
    font-size: 28pt;
}

#display:focus {
    border-color: darkgray;
    outline: none;
}

#clear-button {
    display: flex;
    flex-basis: 350px;
    background-color: #f2a138;
}

#divide-button {
    flex-basis: 100px;
}

button {
    display: flex;
    flex: 1 1 100px;
    margin: 0 10px 10px 10px;
    font-size: 24pt;
    justify-content: center;
    align-items: center;
    border-color: #403d39;
    background-color: #ccc5b9;
}

.operator {
    background-color: #eb5e28;
}